/* Global application level CSS for all pages */
*[loc]:hover {
  background: yellow!important;
}
#c-lgSel {
    color: #8E8E8E;
}
#c-lgSel > a {
  color: #8E8E8E;
}
#c-curLg, #c-lgSel> a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
#c-skip-header {
  padding-top: 125px;
}
#c-skip-timeline {
  padding-top: 290px;
}
a:focus {
 outline: none;
 border: none;
}
#error, #message {
  margin: 5px 0 10px 20px;
}
#fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0);
  z-index: 500;
}
#fixed-inner {
  margin: 0 auto;
  width: 940px;
}
#c-fixed-timeline {
  position: fixed;
  top: 115px;
  left: 0;
  right: 0;
  background-color: white;
  padding-top: 8px;
  z-index: 1000;
}
div.photo-id {
  text-align: right;
  background:#EEE;
  border: solid 1px #AAA;
  padding: 1px;
}
div.photo-id img {
  max-height: 68px; /* resize identity photo */
  max-width: 68px;
}
div.span1.photo-id {
  margin-top: 10px;
  width: 68px; /* instead of 60 */
  margin-left: 8px;
  text-align: center;
  background: white;
}
div.span2.login {
  margin-top: 10px;
  text-align: right;
}
ul.nav {
  width: 100%; /* see below c-flush-right */
}
#c-flush-right {
  float:right;
}
div.navbar {
  padding-top: 10px;
  padding-left: 40px;
}
div.navbar-inner {
  min-height: 30px;
  padding-left: 0;
}
#banner {
  /* background-image: url(../images/logo-banner.png); */
  background-repeat: no-repeat;
  height: 115px;
}
#c-app-title {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0 90px;
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(0,69,99);
}
h1 {
  font-size: 1.8em;
  line-height: 2em;
}
h2 {
  font-size: 1.4em;
  line-height: 1.6em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.2em ;
}
h4 {
  font-size: 1em;
}
h5, h6 {
  font-weight: normal;
}
div.row.login {
  margin-top: 20px;
}
/* Overwrite Bootstrap */
.close.ui-close {
  float: left;
  padding: 6px;
}
/* common to search forms and editing forms */
.axel-choice-placeholder {
  font-style: italic;
  color: #666;
}